


@import "tailwindcss";


@font-face {
    font-family: "Mulish";
    src: url("/font/Mulish-VariableFont_wght.ttf") format("truetype");
}

.font-geist {
    font-family: "Geist", sans-serif;
} 

body {
    font-family: "Mulish", sans-serif;
}



.maxContainer {
  @apply max-w-[1320px] px-5 2xl:px-0 mx-auto;
}

.textPrimary {
  color: #4A4C56;
}
